@import '../variables.module';

.container {
  padding: .0347em;

  .main {

    .titleGroup {
      font-size: .0208em;
      text-align: center;
      margin: 1em auto;
    }

    .indexers {


    }
  }
}