$FONT_COLOR: rgb(117, 138, 169);
$FONT_COLOR2: white; //rgb(133, 158, 195)
$HIGH_FIDELITY_PURPLE_COLOR: #511281;
$HIGH_FIDELITY_ORANGE_COLOR: rgb(36, 53, 78);
$BACKGROUND_COLOR: rgb(20, 29, 43);
$BACKGROUND_COLOR2: rgb(36, 56, 85);

$WIREFRAME_BLACK_COLOR: #000000;
$FONT_WHITE_COLOR: #FFFFFF;

$FONT_ROBOTO: 'Roboto', sans-serif;
$FONT_MONTSERRAT: 'Montserrat', sans-serif;

:export {
  blueColor: $FONT_COLOR;
}